---
layout: default
title: CSS DEMO
categories: top
---

<h2 class="mod-list-head">セレクタ</h2>
<ul class="mod-list">
{% for item in site.pages %}
  {% if item.categories == "selectors" %}
  <li><a href="{{ item.path }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2 class="mod-list-head">プロパティ</h2>
<ul class="mod-list">
{% for item in site.pages %}
  {% if item.categories == "property" %}
  <li><a href="{{ item.path }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2 class="mod-list-head">CSS3 セレクタ</h2>
<ul class="mod-list">
{% for item in site.pages %}
  {% if item.categories == "css3selectors" %}
  <li><a href="{{ item.path }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2 class="mod-list-head">CSS3 プロパティ</h2>
<ul class="mod-list">
{% for item in site.pages %}
  {% if item.categories == "css3property" %}
  <li><a href="{{ item.path }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h2 class="mod-list-head">その他スタイル関連</h2>
<ul class="mod-list">
{% for item in site.pages %}
  {% if item.categories == "other" %}
  <li><a href="{{ item.path }}">{{ item.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>