@charset "utf-8";

@import 'normalize';

body {
  line-height: 1.5;
}

a {
  &:link, &:visited {
    color: #222;
    text-decoration: none;
  }

  &:hover, &:active {
    color: #fff;
    text-decoration: none;
    background-color: #e67e22;
  }
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #16a085;
  margin: 0 0 30px 0;
  padding: 15px 0;

  h1 {
    float:left;
    font-size: 30px;
    margin: 0;
    color:#fff;
  }

  ul{
    font-size: 30px;
    margin: 0;
    float: right;
    color: #fff;
    list-style-type: none;
  }

  li{
    display: inline;
    margin: 0 0 0 10px;
  }

  a {
    &:link, &:visited {
      color: #fff;
      text-decoration: none;
    }

    &:hover, &:active {
      color: #fff;
      text-decoration: none;
      opacity: 0.6;
    }
  }
}

.l-inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.l-main{
  margin: 135px auto 50px;
  color: #333;
}

h2 {
  font-size: 24px;
  color: #333;
  margin: 0 0 50px 0;
  padding: 10px 10px 10px 20px;
  border: 3px solid #ccc;
  background-color: #FFF;
}

h3 {
  font-size: 24px;
  margin: 30px 0 10px 0;
}

.mod-list-head {
  margin: 0;
}

#demoTitle{
  display: inline-block;
  margin: 10px 30px 0 0;
}

.mod-list {
  margin: 0 0 50px 0;
  padding: 30px;
  border: solid #ccc;
  border-width: 0 3px 3px 3px;

  li {
    font-size: 30px;
    list-style-type: none;
    border-bottom: 1px solid #ccc;

    a {
      display: block;
      padding: 0 10px;
    }

    &:first-child {
      border-top: 1px solid #ccc;
    }
  }
}

.demoBox{
  margin: 0 0 10px 0;
}

button{
  font-size: 30px;
}

.demo{
  border: 3px solid #ccc;
  padding: 10px;
  background: #fff;
  overflow: auto;

  a {
    &:link, &:visited, a:hover, a:active {
      color: #333;
      text-decoration: none;
    }
  }

  ul{
    margin: 0 30px 10px 0;
    list-style-type: none;

    ul{
      margin: 0 30px 0 1em;
    }
  }

  .box{
    display: box;
    display: -webkit-box;
    display: -moz-box;
  }

  .column3 {
    width: 480px;
    margin: 0 15px 0 0;
  }

  table{
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-collapse:collapse;
  }

  td{
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
  }

  .tBorder{
    text-decoration: underline !important;
  }

  .sampleBox{
    background: #ff1493;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 15px;
  }
}

pre {
  clear:both;
  font-family:monospace;
  margin: 0 0 30px 0;
  padding: 10px;
  background-color: #444;
  color: #fff;

  code {
    font-size: 24px;
    font-family:monospace;
    word-wrap: break-word;
  }

  textarea {
    font-family:monospace;
    width: 100%;
    font-size: 24px;
    border: 0;
    background-color: #444;
    color: #FFF;
    line-height: 1.5;
    vertical-align: bottom;
    padding: 10px;

    &:focus{
      outline: 0;
      margin: 0;
      padding: 0;
      background-color: #404040;
    }
  }
}

.mb30{
  margin-bottom: 30px !important;
}